.container__pokedex-image {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 25em;
}
.welcome__header {
  position: relative;
  top: 0;
  max-width: 35em;
  height: 25em;
}
.pokedex-trainer {
  position: relative;
  width: 100%;
  top: 7em;
  left: -11em;
}

.pokedex-image {
  position: absolute;
  top: 1em;
  left: -12em;
  animation: 2s zoom infinite alternate;
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

.pokedex-header {
  position: absolute;
  object-fit: contain;
  top: 0%;
  left: 0;
  height: 100%;
  width: 100%;
}
.welcome_title {
  position: absolute;
  top: 9em;
  left: 19em;
  max-width: 10em;
  font-size: 1.3em;
  font-weight: 900;
  color: rgb(255, 255, 255);
  animation: 2s rot ease-out;
}

@keyframes rot {
  0% {
    transform: scale(0.1);
  }
  40% {
    transform: scale(0.4);
  }
  80% {
    transform: scale(0.7) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}

.search-limit {
  text-align: center;
}

.container__pokemon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5em;
  max-width: 100em;
  margin: auto;
}

@media (max-width: 800px) {
  .container__pokedex-image {
    width: 100%;
  }
  .pokedex-image {
    width: 20em;
    left: 1em;
  }
}
@media (max-width: 500px) {
  .welcome_title {
    top: 7.1em;
    left: 17em;
    max-width: 8em;
  }
}

@media (max-width: 420px) {
  .welcome_title {
    top: 7.1em;
    left: 12.5em;
    max-width: 8em;
  }
}
@media (max-width: 300px) {
  .pokedex-image {
    max-width: 15em;
    left: 1em;
  }
  .welcome_title {
    font-size: 0.7em;
    left: 18em;
    top: 16em;
  }
  .card__pokemon {
    width: 250px;
  }
}
