.search-limit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5em 0 7em 0;
}

.search__filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 10em;
}
.search__input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 2em 0;
}
.input__style {
  width: 15em;
  height: 2.2em;
  border: none;
  border-radius: 1em 0 0 1em;
  outline: none;
  text-indent: 0.5em;
}

.search__btn {
  width: 3em;
  height: 2.2em;
  border-radius: 0em 1em 1em 0;
  border: none;
  cursor: pointer;
  background: rgb(171, 173, 172);
}
.search__btn:hover {
  background: rgba(171, 173, 172, 0.525);
}

.search__filter {
  gap: 1em;
}
.ant-select {
  width: 7em;
}
